{% extends 'base.html.twig' %}

{% block title %}Bar - Main{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row py-5">
        <div class="col-3">
            <h3>Equipes</h3>
            <div class="row">
                <div class="col-12">
                    <div class="list-group">
                        {% for team in teams %}
                            <a href="{{ path('bar', {'teamName' : (team.teamName)}) }}" class="
                            list-group-item
                            list-group-item-action
                            {% if selectedTeam is not empty  and selectedTeam.id == team.id%}
                            active
                            {% endif %}
                            ">{{ team.teamName }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h3>Players</h3>
            {% if selectedTeam is not empty %}
                <div class="list-group col-12">
                {% for  player in selectedTeam.players%}
                    <a href="#" class="list-group-item list-group-item-action">{{ player.name }}</a>
                    {% else %}
                    <div>Pas encore de joueurs inscrits</div>
                {% endfor %}
                </div>
                <div class="col-10">
                    <button id="addPlayerBtn" class="btn btn-success my-2">+</button>
                    {% include '_insert/_newPlayerForm.html.twig' %}
                </div>
            {% endif %}
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="/assets/js/newplayerbar.js" type="text/javascript"></script>
{% endblock %}
